.custom-select-group {
    .custom-select-wrapper {
        display: none;
    }

    .custom-select-button{
        border: 1px solid;
        width: 100%;
        padding: 10px;
    }

    .custom-select-list-options{
        padding-left: 0;
    }
}