$white: #fff;
$black: #000;
$blu-accent: #1048d0;
$accent-light: #61c2e2;
$accent-dark: #0b54bc;
$blu-0: #01101e;
$blu-1: #012e5d;
$blu-2: #b3cdd8;
$blu-3: #ebeef2;
$blu-4: #f3f5f8;
$blu-5: #f7f8fc;
$blu-6: #F4F5F9;
$neutro-0: #27282b;
$neutro-1: #414c57;
$neutro-2: #54595d;
$neutro-3: #7f8094;
$neutro-4: #dbdee6;
$grey-0: #F1F2F2;
$grey-1: #E0E0E0;
$grey-2: #545460;
$grey-3: #7C848A;
$green-1: #1e6665;
$green-2: #17807f;
$green-success: #14841A;
$primary-verde-1-full: #1e6665;
$primary-brand-2-full: #556e97;
$primary-brand-3-full: #ebf5f9;
$primary-brand-4-full: #f8faff;
$red-1: #FF4D4F;
$alert: #e72300;

